.notfound-container {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 75vh;
  text-align: center;
  font-family: Arial, sans-serif;
}

.notfound-title {
  font-size: 8rem;
  color: #ff4c4c;
  margin: 0;
}

.notfound-message {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #333;
}
.dark .notfound-message {
  color: #ccc;
}

.notfound-link {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #007bff;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.notfound-link:hover {
  background-color: #0056b3;
}
